--- --- @import "minima";

body {
    font-family: 'Paperlogy', sans-serif !important;
}

/* 기존 body 아래에 이 내용을 추가하세요 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Paperlogy', sans-serif !important;
    font-weight: 700 !important;
    /* 700이 굵게 나오는 Bold 입니다 */
    line-height: 1.2 !important;
}